{% for type,flash_messages in app.session.flashBag.all %} 
{% for flash_message in flash_messages %}
<div class="alert alert-success">

        {{ flash_message}}
    
</div>
    
{% endfor %}
{% endfor %}